openapi: 3.2.0
info:
  title: Thordata Scraper SERP API
  version: 1.0.0
  description: SERP API and Web Scraper API task launch endpoints on the Thordata scraper host. Derived from Thordata's own canonical SDK specification (thordata-sdk-spec v1.json) and the published documentation at https://doc.thordata.com/doc/overview.
  contact:
    name: Thordata Support
    email: support@thordata.com
    url: https://www.thordata.com/contact-us
  x-derived-from: https://raw.githubusercontent.com/Thordata/thordata-sdk-spec/main/v1.json
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-on: '2026-08-11'
servers:
- url: https://scraperapi.thordata.com
  description: Scraper API (SERP, Builder, Video Builder)
tags:
- name: SERP API
  description: Real-time search engine results
paths:
  /request:
    post:
      operationId: searchSerp
      tags:
      - SERP API
      summary: Run a SERP API search
      description: Retrieve real-time search engine results as parsed JSON or raw HTML. Supports Google, Bing, Yandex and DuckDuckGo. Billed only on a 200 response.
      security:
      - ScraperBearer: []
      - ScraperHeaderToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - engine
              properties:
                engine:
                  type: string
                gl:
                  type: string
                hl:
                  type: string
                json:
                  type: string
                  enum:
                  - '0'
                  - '1'
                  - '2'
                  description: 1=json,0=html,2=both
                no_cache:
                  type: string
                  enum:
                  - 'True'
                  - 'False'
                num:
                  type: string
                q:
                  type: string
                  description: 'Required unless engine is one of: yandex'
                render_js:
                  type: string
                  enum:
                  - 'True'
                  - 'False'
                start:
                  type: string
                tbm:
                  type: string
                tbs:
                  type: string
                text:
                  type: string
                  description: 'Required when engine is one of: yandex'
          application/json:
            schema:
              type: object
              required:
              - engine
              properties:
                engine:
                  type: string
                gl:
                  type: string
                hl:
                  type: string
                json:
                  type: string
                  enum:
                  - '0'
                  - '1'
                  - '2'
                  description: 1=json,0=html,2=both
                no_cache:
                  type: string
                  enum:
                  - 'True'
                  - 'False'
                num:
                  type: string
                q:
                  type: string
                  description: 'Required unless engine is one of: yandex'
                render_js:
                  type: string
                  enum:
                  - 'True'
                  - 'False'
                start:
                  type: string
                tbm:
                  type: string
                tbs:
                  type: string
                text:
                  type: string
                  description: 'Required when engine is one of: yandex'
      responses:
        '200':
          description: Success. Billed only when the payload code is 200.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Bad Request - invalid parameters were passed. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Unauthorized - authentication failed; check token validity. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          description: Forbidden - the target server refused to fulfill the request. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '429':
          description: Too Many Requests - request rate exceeded the API limit. Retryable with exponential backoff. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '500':
          description: Internal Server Error. Retryable with exponential backoff. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '504':
          description: Timeout Error - the proxy server timed out waiting for the upstream server. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
components:
  schemas:
    Envelope:
      type: object
      description: Thordata JSON envelope. The effective status is the payload `code` when present and not 200, otherwise the HTTP status (v1.json errors.precedence).
      properties:
        code:
          type: integer
          description: Application status code. 200 success, 300 not collected (not billed).
        msg:
          type: string
          description: 'Human-readable message. Alternate field names: message, error, detail, description.'
        data:
          description: Result payload; shape varies by operation.
  securitySchemes:
    ScraperBearer:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: Scraper token (THORDATA_SCRAPER_TOKEN) from Dashboard > Account Settings.
    ScraperHeaderToken:
      type: apiKey
      in: header
      name: token
      description: 'Alternate to bearer: scraperToken sent in the token header.'
    PublicToken:
      type: apiKey
      in: header
      name: token
      description: Public token (THORDATA_PUBLIC_TOKEN) from the Thordata Dashboard.
    PublicKey:
      type: apiKey
      in: header
      name: key
      description: Public key (THORDATA_PUBLIC_KEY) from the Thordata Dashboard.
