openapi: 3.2.0
info:
  title: Thordata Web Scraper API
  version: 1.0.0
  x-refined-note:
  - x-derived-by differs across the merged source definitions and was not carried
  - x-derived-from differs across the merged source definitions and was not carried
  - x-derived-on differs across the merged source definitions and was not carried
  description: 'Operations tagged Web Scraper API across 2 of this provider''s published API definitions: thordata-openapi.json, thordata-scraper-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://scraperapi.thordata.com
  description: Scraper API (SERP, Builder)
- url: https://universalapi.thordata.com
  description: Universal API
- url: https://openapi.thordata.com/api
  description: Public & Web Scraper API
- url: https://api.thordata.com/api
  description: Proxy API
tags:
- name: Web Scraper API
paths:
  /builder:
    post:
      summary: Create Scraper Task
      tags:
      - Web Scraper API
      security:
      - ScraperAuth: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                spider_name:
                  type: string
                spider_id:
                  type: string
                spider_parameters:
                  type: string
                  description: JSON string of params
              required:
              - spider_id
              - spider_name
      responses:
        '200':
          description: Task Created
          content:
            application/json:
              example:
                code: 200
                data:
                  task_id: '123'
      operationId: postBuilder
      x-operation-id-source: derived
    servers:
    - url: https://scraperapi.thordata.com
      description: Scraper API (SERP, Builder)
    - url: https://universalapi.thordata.com
      description: Universal API
    - url: https://openapi.thordata.com/api
      description: Public & Web Scraper API
    - url: https://api.thordata.com/api
      description: Proxy API
  /tasks-status:
    post:
      summary: Get Task Status
      tags:
      - Web Scraper API
      security:
      - PublicAuth: []
      parameters:
      - name: token
        in: query
        schema:
          type: string
      - name: key
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                tasks_ids:
                  type: string
      responses:
        '200':
          description: Task Status
      operationId: postTasksStatus
      x-operation-id-source: derived
    servers:
    - url: https://scraperapi.thordata.com
      description: Scraper API (SERP, Builder)
    - url: https://universalapi.thordata.com
      description: Universal API
    - url: https://openapi.thordata.com/api
      description: Public & Web Scraper API
    - url: https://api.thordata.com/api
      description: Proxy API
  /video_builder:
    post:
      operationId: runVideoScraperTask
      tags:
      - Web Scraper API
      summary: Launch a video/audio Web Scraper API task
      description: Same contract as /builder plus common_settings for video/audio stream selection.
      security:
      - ScraperBearer: []
        PublicToken: []
        PublicKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                spider_name:
                  type: string
                spider_id:
                  type: string
                spider_parameters:
                  type: string
                spider_errors:
                  type: string
                file_name:
                  type: string
                common_settings:
                  type: string
                  description: 'JSON string of video/audio settings: resolution (e.g. ''<=360p''), video_codec (vp9, h264), audio_format (opus, mp3, aac), bitrate (e.g. ''<=320''), selected_only (boolean)'
              required:
              - spider_id
              - spider_name
              - spider_parameters
      responses:
        '200':
          description: Success. Billed only when the payload code is 200.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Bad Request - invalid parameters were passed. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Unauthorized - authentication failed; check token validity. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          description: Forbidden - the target server refused to fulfill the request. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '429':
          description: Too Many Requests - request rate exceeded the API limit. Retryable with exponential backoff. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '500':
          description: Internal Server Error. Retryable with exponential backoff. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '504':
          description: Timeout Error - the proxy server timed out waiting for the upstream server. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
    servers:
    - url: https://scraperapi.thordata.com
      description: Scraper API (SERP, Builder, Video Builder)
components:
  schemas:
    Envelope:
      type: object
      description: Thordata JSON envelope. The effective status is the payload `code` when present and not 200, otherwise the HTTP status (v1.json errors.precedence).
      properties:
        code:
          type: integer
          description: Application status code. 200 success, 300 not collected (not billed).
        msg:
          type: string
          description: 'Human-readable message. Alternate field names: message, error, detail, description.'
        data:
          description: Result payload; shape varies by operation.
  securitySchemes:
    ScraperAuth:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: Use `scraperToken` from Dashboard -> Account Settings.
    PublicAuth:
      type: apiKey
      in: query
      name: token
      description: Use `publicToken` + `key` query param.
    ScraperBearer:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: Scraper token (THORDATA_SCRAPER_TOKEN) from Dashboard > Account Settings.
    ScraperHeaderToken:
      type: apiKey
      in: header
      name: token
      description: 'Alternate to bearer: scraperToken sent in the token header.'
    PublicToken:
      type: apiKey
      in: header
      name: token
      description: Public token (THORDATA_PUBLIC_TOKEN) from the Thordata Dashboard.
    PublicKey:
      type: apiKey
      in: header
      name: key
      description: Public key (THORDATA_PUBLIC_KEY) from the Thordata Dashboard.
x-refined-from:
- thordata-openapi.json
- thordata-scraper-api-openapi.yml
