openapi: 3.2.0
info:
  title: Thordata Public Proxy API
  version: 1.0.0
  description: Account, billing balance, proxy inventory, proxy sub-user management and IP whitelisting. Authenticated with the publicToken + publicKey pair, sent as the token and key headers (also accepted as query parameters).
  contact:
    name: Thordata Support
    email: support@thordata.com
    url: https://www.thordata.com/contact-us
  x-derived-from: https://raw.githubusercontent.com/Thordata/thordata-sdk-spec/main/v1.json
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-on: '2026-08-11'
servers:
- url: https://openapi.thordata.com/api
  description: Public API
tags:
- name: Proxy
  description: Purchased proxy inventory
paths:
  /proxy/proxy-list:
    get:
      operationId: listProxies
      tags:
      - Proxy
      summary: List purchased proxies
      description: Returns ip, port, username, password and expiration_time per proxy. proxy_type 1=ISP, 2=Datacenter.
      parameters:
      - name: token
        in: query
        required: true
        description: Public token. May also be sent as the token header.
        schema:
          type: string
      - name: key
        in: query
        required: true
        description: Public key. May also be sent as the key header.
        schema:
          type: string
      - name: proxy_type
        in: query
        required: false
        description: 1=ISP, 2=Datacenter
        schema:
          type: integer
      responses:
        '200':
          description: Success. Billed only when the payload code is 200.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Bad Request - invalid parameters were passed. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Unauthorized - authentication failed; check token validity. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          description: Forbidden - the target server refused to fulfill the request. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '429':
          description: Too Many Requests - request rate exceeded the API limit. Retryable with exponential backoff. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '500':
          description: Internal Server Error. Retryable with exponential backoff. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '504':
          description: Timeout Error - the proxy server timed out waiting for the upstream server. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
  /proxy/expiration-time:
    get:
      operationId: getProxyExpiration
      tags:
      - Proxy
      summary: Expiration time for specific proxy IPs
      parameters:
      - name: token
        in: query
        required: true
        description: Public token. May also be sent as the token header.
        schema:
          type: string
      - name: key
        in: query
        required: true
        description: Public key. May also be sent as the key header.
        schema:
          type: string
      - name: proxy_type
        in: query
        required: false
        description: Proxy product type
        schema:
          type: integer
      - name: ips
        in: query
        required: false
        description: Proxy IPs to query
        schema:
          type: string
      responses:
        '200':
          description: Success. Billed only when the payload code is 200.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '400':
          description: Bad Request - invalid parameters were passed. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          description: Unauthorized - authentication failed; check token validity. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '403':
          description: Forbidden - the target server refused to fulfill the request. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '429':
          description: Too Many Requests - request rate exceeded the API limit. Retryable with exponential backoff. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '500':
          description: Internal Server Error. Retryable with exponential backoff. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '504':
          description: Timeout Error - the proxy server timed out waiting for the upstream server. Not billed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
components:
  schemas:
    Envelope:
      type: object
      description: Thordata JSON envelope. The effective status is the payload `code` when present and not 200, otherwise the HTTP status (v1.json errors.precedence).
      properties:
        code:
          type: integer
          description: Application status code. 200 success, 300 not collected (not billed).
        msg:
          type: string
          description: 'Human-readable message. Alternate field names: message, error, detail, description.'
        data:
          description: Result payload; shape varies by operation.
  securitySchemes:
    PublicToken:
      type: apiKey
      in: header
      name: token
      description: Public token (THORDATA_PUBLIC_TOKEN) from the Thordata Dashboard.
    PublicKey:
      type: apiKey
      in: header
      name: key
      description: Public key (THORDATA_PUBLIC_KEY) from the Thordata Dashboard.
